<section class="inner">
  <header class="major"><h2><%= title %></h2></header>
  <form method="post" action="<%= (ut ? '/crud/ut/' + ut.id + '?_method=PUT' : '/crud/ut') %>">
    <div class="row gtr-uniform">
      <div class="col-6 col-12-xsmall">
        <label>Név</label><input type="text" name="nev" value="<%= ut ? ut.nev : '' %>" required />
      </div>
      <div class="col-6 col-12-xsmall">
        <label>Hossz (km)</label><input type="number" step="0.01" name="hossz" value="<%= ut?.hossz ?? '' %>" />
      </div>
      <div class="col-6 col-12-xsmall">
        <label>Állomás</label><input type="number" name="allomas" value="<%= ut?.allomas ?? '' %>" />
      </div>
      <div class="col-6 col-12-xsmall">
        <label>Idő (óra)</label><input type="number" step="0.1" name="ido" value="<%= ut?.ido ?? '' %>" />
      </div>
      <div class="col-6 col-12-xsmall">
        <label>Vezetés</label>
        <select name="vezetes">
          <option value="1" <%= (ut && ut.vezetes===1 ? 'selected' : '') %>>van</option>
          <option value="0" <%= (ut && ut.vezetes===0 ? 'selected' : '') %>>nincs</option>
        </select>
      </div>
      <div class="col-6 col-12-xsmall">
        <label>Település</label>
        <select name="telepulesid" required>
          <% telepulesek.forEach(t => { %>
            <option value="<%= t.id %>" <%= (ut && ut.telepulesid===t.id ? 'selected' : '') %>><%= t.nev %></option>
          <% }) %>
        </select>
      </div>
      <div class="col-12">
        <ul class="actions"><li><button type="submit" class="button primary">Mentés</button></li></ul>
      </div>
    </div>
  </form>
</section>